<!-- your html code here -->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col">
            <h1> Contact </h1>
            <p> 
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              
        </div>
        <div>
            <button type="button" class="btn btn-primary float-rigth">Submit</button>
        </div>
    </div>
    </div>
    
    

   