<!-- your html code here -->
<p>Hello, I'm the first_heading.html</p>

<div class="container border-top">
    <div class="row">
        <div class="col-8">
            <div class="container p-5 mt-2">
                <h2><strong>This First Heading <span>Will Catch Your Eyes</span></strong></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id iguala porta felis euismod semper. Praesent commodo cursus manga, vel scelerisque nisl consectetur. Fuscec dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
        <div class="col-4">
            <div class="container w-50 p-4 mt-3">
                <img src="/website/assets/img/1.jpg" class="rounded-circle" width="150" alt="Avatar">
            </div>
        </div>
    </div>
</div>


<!-- DEVELOPED BY SAMUEL HERRERA JARABA -->
