<!-- your html code here -->
<div class="container border-top">
    <div class="row">
        <div class="col">
            <div class="container p-5 mt-2 d-flex">
                <div class="">
                    <h2 class="fs-1"><strong>This First Heading <span class="text-secondary">Will Catch Your Eyes</span></strong></h2>
                    <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id iguala porta felis euismod semper. Praesent commodo cursus manga, vel nisl consectetur. Fuscec dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="">
                    <img src="/website/assets/img/1.jpg" class="rounded-circle float-end" width="300" alt="Avatar">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DEVELOPED BY SAMUEL HERRERA JARABA -->
