<div class="container border-fluid">
    <div class="row">
      <div class="col">
    <ul class="nav bg-dark">
      <li class="nav-item">
        <a class="nav-link active" "text-secondary" aria-current="page" href="#">
          <b class="text-secondary">START BOOTSTRAP</b>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="text-secondary">About
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><h6 class="text-secondary">Service
        </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="text-secondary">
            Portafolio
          </h6>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <h6 class="text-secondary">Contact
          </h6>
        </a>
      </li>
    </ul>
    </div>
  </div>  