<h3>Portfolio</h3>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="card-group">
    <div class="card p-10">
      <img src="./assets/img/big-project-image.png" class="card-img-top"alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos neque eos, deleniti pariatur harum quia! Deleniti quas totam reprehenderit, sequi ullam laudantium? Quae architecto nisi laudantium, impedit incidunt repudiandae vero.</p>
      </div>
    </div>
    <div class="card p-10">
      <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus beatae, nostrum mollitia distinctio quos exercitationem inventore dignissimos illum nesciunt ea, veritatis commodi aperiam, alias possimus officiis consectetur. Eum, a nostrum!</p>
      </div>
    </div>
    <div class="card p-10">
      <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title primary">Project Name</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, quis. Unde, officiis incidunt! A debitis, deleniti hic molestiae, nisi mollitia consequuntur quibusdam animi nobis enim obcaecati recusandae ratione ipsa possimus.</p>
      </div>
    </div>
  </div>