<div class="container mx-auto px-5 m-0">
    <h2><strong>Portfolio</strong></h2>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top"alt="...">
        <div class="card-body">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos neque eos, deleniti pariatur harum quia.</p>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos neque eos, deleniti pariatur harum quia.</p>
        </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="card-title text-primary">Project Name</h4>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos neque eos, deleniti pariatur harum quia.</p>
        </div>
        </div>
      </div>
  </div>
</div>