<div class="container border-mx-auto mb-5"> 
    <div class="row">
        <div class="col">
            <div class="card bg-dark text-dark border-0">
                <img src="/website/assets/img/bg.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <p class="fw-bold display-1 card-title bg-white text-center">
                     One page wonder
                  </p>
                  <p class="fw-bold card-text display-5 card-title bg-white text-center">
                     Will knock your socks off 
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>
 